{{yield}}
<div>

  {{#if editable}}
      {{input type="text"  value=editing}}
      <button {{action "cancelEdit"}}>Cancel</button>
  {{else}}
    <span> {{link-to row.name "shops.shop" row}}</span>
  {{/if}}
  <button {{action "btnClick"}}>{{editBtnText}}</button>{{row.isDeleted}}

</div>
