<h2>Products</h2>
  <ul class="results">
    {{#each model.products as |product index|}}
        {{#unless product.isDeleted}}
            {{product-row row=product}} <button {{action 'remove' index}}>Remove</button>
        {{/unless}}
    {{/each}}
  </ul>
  <button {{action "add"}}>add</button>{{aa.p}} <div style="display:none">{{aa}}</div>
